<!DOCTYPE html>
<html lang="es">
<head>  <!--meta y links para estilos-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!--esto es para poder hacer q Flask lea la carpeta style.css, es como la metodologia de "import" q se uso en astro nano... por lo menos la siento asi-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!--este es el link para mis iconitos de redes sociales-->
    <title>Mi Portafolio</title>
    <script>
        function toggleDarkMode() {
            const body = document.body;
            body.classList.toggle("dark-mode");
            const isDarkMode = body.classList.contains("dark-mode");
            localStorage.setItem("darkMode", isDarkMode);
        }

        window.onload = function() {
            const darkMode = localStorage.getItem("darkMode") === 'true';
            if (darkMode) {
                document.body.classList.add("dark-mode");
            }
        }
    </script>
</head>
<body>
    <div class="wrapper">
    <header>
        <h1>Mi Portafolio</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/about">Acerca de</a>
            <a href="/contact">Contacto</a>
            <button onclick="toggleDarkMode()">Cambiar Modo Claro/Oscuro</button>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 - Alexander Igor Prokopchuk</p>
        <ul class="social-links"> <!--por las dudas dejo esta nota... "fab fa-..." sirve para los iconos de Font Awesome. fab:Font Awesome Brands. fa:Font Awesome.-->
          <li><a href="https://twitter.com/allbonus666" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="https://www.facebook.com/alex.prokopchuk2" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="https://github.com/allbonus" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
        </ul>
      </footer>
    </div>
</body>
</html>



<!--para no olvidarme... "python app.py" en la terminal para iniciar el portafolio-->