{% extends 'layout.html' %}

{% block content %}
<h2>Bienvenido a mi portafolio!</h2>
<p>Aquí encontrarás mis proyectos y habilidades.</p>
<div class="projects">
    <h3>Proyectos</h3>
    <ul>
        <li><strong><em>Proyecto 1</em></strong>
            Lorem ipsum dolor sit amet consectetur adipiscing elit vel imperdiet sagittis, 
            proin potenti vitae aptent luctus ultrices curabitur cursus libero.
            A arcu potenti scelerisque montes tempor aliquet cum malesuada magna volutpat convallis, 
            pulvinar sollicitudin rutrum mi euismod justo fusce sem fames sed in, accumsan venenatis platea varius luctus ante risus facilisis dis morbi.
        </li>
        <br>
        <li><strong><em>Proyecto 2</em></strong>
            Interdum class feugiat suscipit inceptos aliquam auctor suspendisse litora mi fermentum, 
            magna per etiam ac mus fusce phasellus ligula fringilla ultricies, tristique euismod lectus montes magnis pretium ut parturient vehicula.
        </li>
        <br>
        <li><strong><em>Proyecto 3</em></strong>
            Primis tempus curae integer sagittis mi dignissim, curabitur netus posuere magna luctus iaculis dapibus, 
            at vivamus cum quisque scelerisque. Ridiculus natoque massa taciti nisi potenti aliquet proin cum himenaeos praesent lobortis, 
            mi cursus iaculis aptent nibh viverra mattis cras egestas. Enim molestie scelerisque porttitor senectus dignissim ac id vivamus, 
            sollicitudin imperdiet pharetra mus felis hac libero dapibus, congue sed tempor ultrices vestibulum eu dictum.
        </li>
    </ul>
    <h3>Habilidades</h3>
    <ul>
        <li><em>No tengo habilidades todavia, esto lo puse para probar no mas.</em></li>  
    </ul>    


    
</div>
{% endblock %}