{% extends 'layout.html' %}

{% block content %}
<h2>Bienvenido a mi portafolio!</h2>
<p>Aquí encontrarás mis proyectos y habilidades.</p>
<div class="projects">
    <h3>Proyectos</h3>
    <ul>
        <li><strong><em>Proyecto 1</em></strong>
           Aplicacion prototipo para dispositivos moviles hecha en MIT App Inventor para una veterinaria con
           una base datos de prueba usando Google Sheets.
        </li>
        <br>
        <li><strong><em>Proyecto 2</em></strong>
            Este mismo portafolio para practicar mi habilidad en Python usando Flask como framework.
        </li>
        <br>
    </ul>
    <h3>Habilidades</h3>
    <ul>
        <li><em>Habilidades basicas en Python y en Flask, bastante lugar para mejorar.</em></li>  
    </ul>    


    
</div>
{% endblock %}